@use "variables";
@use "sass:color";

.cartes{
  margin: 5%;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(25%, 1fr));
  gap:24px;

  &__carte{
    position: relative;
    background-color: variables.$primary;
    color: variables.$noir;
    padding: 10px;
    width:90%;
    height:40%;

    &:hover{
      background-color: color.adjust(variables.$primary, $saturation: -50%);
    }

    &__image{
      background-size:cover;
      width:90%;
      height:40%;
      margin:5px;

      &--1{
        background-image:url("../images/");
      }

      &--2{
        background-image:url("../images/");
      }

      &--3{
        background-image:url("../images/");
      }

      &--4{
        background-image:url("../images/");
      }
    }

    /*&__titre{
      
    }

    &__desc{
      
    }

    &__annee{
      
    }*/
  }
}
