@use "variables";

header{
    display: flex;
    justify-content: space-around;
    background-color: variables.$secondary;
    color: variables.$primary;
    padding: 10px 50px;
    
    div{
        display: flex;
        justify-content: center;

        h2{
            display: none;
        }

        .logo{
            width: 200px;
        }
    }
    
}

@media screen and (max-width: 497px){
    header{
        h2{
            display: none;
        }
    }
}

@media screen and (min-width: 885px){
    header{
        div{
            h2{
                display: block;
            }
        }
    }
}