@use "variables";

.profil{
    background-color: variables.$primary;
    /*color: variables.$primary;*/
    border-radius: 15%;
    margin: 5%;
    padding: 10px;
    justify-content: center;
    display: grid;
    grid-template-areas: 
    "bienvenue"
    "image"
    "texte"
    "desc"
    "bouton";

    h1{
        text-align: center;
        grid-area: bienvenue;
    }

    &__image{
        width: 100%;
        grid-area: image;
        border-radius: 15px;
    }

    &__texte{
        grid-area: texte;
        margin: 10%;

        /*h3{
            
        }
    
        h4{
            
        }*/
    }
    
    &__desc{
        grid-area: desc;
        margin: 10%;
    }

    &__bouton{
        border: 2px solid variables.$noir;
        background-color: variables.$primary;
        /*color: variables.$blanc;*/
        border-radius: 10px;
        margin: 10%;
        grid-area: bouton;
        font-family: "Chakra Petch", sans-serif;

        a{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 574px){
    .profil{
        padding: 30px;
        grid-template-areas: 
    "bienvenue bienvenue"
    "texte image"
    "desc image"
    "bouton image";
    }
}

@media screen and (min-width: 660px){
    .profil{
        &__image{
            height: 500px;
            width: auto;
            /*margin: 0 10%;*/
        }
    }
}

@media screen and (min-width: 1000px){
    main{
        display: flex;
        justify-content: center;
        .profil{
            width: 800px;
            margin: 50px;
            &__image{
                margin: 0 20%;
            }
        }
    }
}