@use "variables";

header{
    display: flex;
    justify-content: space-around;

    
    div{
        .logo{
            width: 50px;
        }
    }
    
}



/*nav{
    background-color: variables.$charcoal;
}*/