@use "variables";

header{
    display: flex;
    justify-content: space-around;
    background-color: variables.$bleu;
    color: variables.$mauve;
    padding: 10px 50px;
    
    div{
        display: flex;
        justify-content: center;

        .logo{
            width: 200px;
        }
    }
    
}



/*nav{
    background-color: variables.$charcoal;
}*/