@use "variables";

header{
    display: flex;
    justify-content: space-around;
    background-color: variables.$bleu;

    
    div{
        .logo{
            width: 100px;
        }
    }
    
}



/*nav{
    background-color: variables.$charcoal;
}*/