@use "variables";

cartes{

  &__carte{

    display:grid;
  grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
  column-gap:24px;

    &__image{
      
    }

    &__desc{
      
    }

    &__annee{
      
    }
  }
}
