@use "variables";

.profil{
    background-color: variables.$secondary;
    color: variables.$primary;
    border-radius: 15%;
    margin: 10%;
    padding: 30px;
    display: grid;
    grid-template-areas: 
    "bienvenue bienvenue"
    "texte image"
    "desc image"
    "desc image";

    h1{
        text-align: center;
        grid-area: bienvenue;
    }

    &__image{
        width: 200px;
        grid-area: image;
    }

    &__texte{
        grid-area: texte;

        /*h3{
            
        }
    
        h4{
            
        }*/
    }
    
    &__desc{
        grid-area: desc;
    }

    &__bouton{
        border: 2px solid variables.$primary;
        background-color: variables.$secondary;
        color: variables.$primary;
        margin: 20px;
        border-radius: 10px;
    }
}