/*$charcoal:#394053;
$gray:#4E4A59;
$wenge:#6E6362;
$moonstone:#39A2AE;
$aquamarine:#00FDDC;*/

/*$primary: #A8216A;
$primary: #76174a;*/
$primary: #8f1c5a;
$secondary: #111D4A;
$tertiary: #48A9A6;

$blanc: #ffffff;
$noir: #000000