@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/*$charcoal:#394053;
$gray:#4E4A59;
$wenge:#6E6362;
$moonstone:#39A2AE;
$aquamarine:#00FDDC;*/
header {
  display: flex;
  justify-content: space-around;
  background-color: #7c0c48;
  /*color: variables.$primary;*/
  padding: 10px 50px;
  box-shadow: 0 0 15px black;
}
header a {
  display: flex;
  justify-content: center;
}
header a h2 {
  display: none;
}
header a .logo {
  width: 200px;
}

@media screen and (max-width: 497px) {
  header h2 {
    display: none;
  }
}
@media screen and (min-width: 885px) {
  header a h2 {
    display: block;
  }
}
.cartes {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 24px;
}
.cartes__carte {
  position: relative;
  background-color: #7c0c48;
  background-color: #7c0c48;
  background-blend-mode: color-dodge;
  color: #000000;
  padding: 20px;
  box-shadow: 0 0 15px black;
  border-radius: 15px;
  /*&__titre{

  }

  &__desc{

  }

  &__annee{

  }*/
}
.cartes__carte:hover {
  background-color: #5a2e46;
}
.cartes__carte__image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60%;
}
.cartes__carte__image--1 {
  background-image: url("./images/image_robot.png");
}
.cartes__carte__image--2 {
  background-image: url("../images/");
}
.cartes__carte__image--3 {
  background-image: url("../images/");
}
.cartes__carte__image--4 {
  background-image: url("../images/");
}

.profil {
  background-color: #7c0c48;
  background-image: url("../images/logo_mauve.png");
  background-blend-mode: color-dodge;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70px;
  margin: 5%;
  padding: 10px;
  justify-content: center;
  display: grid;
  grid-template-areas: "bienvenue" "image" "texte" "desc" "bouton";
  -moz-column-gap: 6em;
       column-gap: 6em;
  box-shadow: 0 0 15px black;
  /*a{
      margin: 10%;
      grid-area: bouton;
      padding: 0;*/
}
.profil h1 {
  text-align: center;
  grid-area: bienvenue;
}
.profil__image {
  width: 100%;
  grid-area: image;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #111D4A;
  border: 2px solid #000000;
}
.profil__texte {
  grid-area: texte;
  margin: 10%;
  /*h3{

  }

  h4{

  }*/
}
.profil__desc {
  grid-area: desc;
  margin: 10%;
}
.profil__bouton {
  border: 2px solid #000000;
  background-color: #7c0c48;
  /*color: variables.$blanc;*/
  border-radius: 10px;
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  justify-content: center;
  /*a{
      width: 100%;
      height: 100%;
  }*/
}

.hero {
  background-color: #7c0c48;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70px;
  margin: 5vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  /*display: grid;
  grid-template-areas: 
  "bienvenue"
  "image"
  "texte"
  "desc"
  "bouton";
  column-gap: 6em;*/
  box-shadow: 0 0 15px black;
}
.hero iframe {
  width: 80%;
  height: 50vw;
  max-height: 500px;
}

@media screen and (min-width: 574px) {
  .profil {
    padding: 30px;
    grid-template-areas: "bienvenue image" "texte image" "desc image" "bouton image";
  }
}
@media screen and (min-width: 660px) {
  .profil__image {
    height: 500px;
    width: auto;
    /*margin: 0 10%;*/
  }
}
@media screen and (min-width: 1000px) {
  main {
    display: flex;
    justify-content: center;
  }
  main .profil {
    width: 800px;
    margin: 50px;
    /*&__image{
        margin: 0 20%;
    }*/
  }
  .hero {
    width: 80%;
  }
}
* {
  color: #000000;
}

body {
  margin: 0%;
  background-image: url("./images/logo_mauve.png");
  background-color: #111D4A;
  background-blend-mode: multiply;
  font-family: "Chakra Petch", sans-serif;
  /*color: variables.$blanc;*/
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

/*h3{

}

h4{

}

h5{

}

h6{

}*//*# sourceMappingURL=style.css.map */