@use "partials/header";
@use "partials/cartes";
@use "partials/pages-projets";
@use "partials/variables";
@use "partials/hero";


@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    color: variables.$noir;
}

body{
    margin: 0%;
    background-image: url('./images/logo_mauve.png');
    //background-size: 60%;
    background-color: variables.$secondary;
    background-blend-mode: multiply;
    font-family: "Chakra Petch", sans-serif;
    /*color: variables.$blanc;*/
}

h1{
    font-size: 50px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 26px;
}

/*h4{
    
}

h5{
    
}

h6{
    
}*/

p{
    font-size: 20px;
    
}