@use "partials/header";
@use "partials/variables";
@use "partials/profil";

body{
    margin: 0%;
    background-color: variables.$tertiary;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 36px;
}

/*h3{
    
}

h4{
    
}

h5{
    
}

h6{
    
}*/